@page "/About"
@using iOSClub.Data
@using iOSClub.WebSite.Models
@using Markdig
@using Markdig.Syntax
@using Microsoft.EntityFrameworkCore
@inject IJSRuntime Js
@inject IMessageService _message
@inject IDbContextFactory<iOSContext> Factory

@code {

    private async Task OnClick(string text)
    {
        var result = await Js.InvokeAsync<bool>("copyText", text);
        await _message.Info("复制" + (result ? "成功" : "失败"));
    }

}

<PageTitle>关于我们 - 西建大iOS Club</PageTitle>

<Breadcrumb Style="margin-bottom: 10px" Class="desktop-phone">
    <BreadcrumbItem>
        <a href="/">主页</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/About">关于我们</a>
    </BreadcrumbItem>
</Breadcrumb>

<GridRow>
    <GridCol Xs="24" Sm="24" Md="20" Lg="20" Xl="20" Xxl="20">
        <MarkdownRenderer html="@Content" BaseUrl="ArticleFile"/>
        <h2 id="contact">联系我们</h2>
        <p>Gitee组织：
            <AppleLink Url="https://gitee.com/XAUATiOSClub">西安建筑科技大学iOS众创空间官网</AppleLink>
        </p>
        <p>Github组织：
            <AppleLink Url="https://github.com/XAUAT-iOSClub">西安建筑科技大学iOS众创空间官网</AppleLink>
        </p>
        <p>B站号:
            <AppleLink Url="https://b23.tv/emdiGP6">西建大iOSClub</AppleLink>
        </p>
        <p>微信公众号: 微信搜索
            <AppleLink OnClick="@(async () => await OnClick("西建大iOS众创空间俱乐部"))">西建大iOS众创空间俱乐部
            </AppleLink>
        </p>
        <p>欢迎给我们写邮箱提意见! 邮箱号:
            <AppleLink OnClick="@(async () => await OnClick("iosclubxauat@163.com"))">iosclubxauat@163.com</AppleLink>
        </p>
    </GridCol>
    <GridCol Md="4" Lg="4" Xl="4" Xxl="4" Class="desktop-phone">
        <Affix>
            <Anchor>
                @foreach (var s in Anchors)
                {
                    <AnchorLink Href="@s.Link" Title="@s.Name"/>
                }
            </Anchor>
        </Affix>
    </GridCol>
</GridRow>

@code {
    private string Content { get; set; } = "";
    private List<MarkAnchorModel> Anchors { get; } = [];

    protected override async Task OnParametersSetAsync()
    {
        await using var db = await Factory.CreateDbContextAsync();
        var article = await db.Articles.AsNoTracking().FirstOrDefaultAsync(x => x.Path == "About");
        if (article is null) return;
        Content = article.Content;

        // 强制更新UI
        StateHasChanged();

        // 延迟解析锚点以提升首次渲染速度
        await ParseAnchorsAsync(Content);
    }

    private async Task ParseAnchorsAsync(string content)
    {
        var pipeline = new MarkdownPipelineBuilder().Build();
        var document = Markdown.Parse(content, pipeline);
        var count = 0;
        Anchors.Clear();
        await document.ForEachAsync(x =>
        {
            if (x is not HeadingBlock { Inline: not null } headingBlock)
                return Task.CompletedTask;

            count++;
            if (count == 1) return Task.CompletedTask;
            
            var id = headingBlock.Inline.FirstChild?.ToString() ?? Guid.NewGuid().ToString();
            
            Anchors.Add(new MarkAnchorModel
            {
                Name = id,
                Link = $"/About#{id}"
            });

            return Task.CompletedTask;
        });
        
        Anchors.Add(new MarkAnchorModel()
        {
            Name = "联系",
            Link = "/About#contact"
        });
        // 更新锚点后再次刷新
        StateHasChanged();
    }

}