@page "/Desktop"
@inject IJSRuntime JS

<PageTitle>iDesktop - 西建大 iOS Club</PageTitle>

<ul id="nav">
    <li>
        <img src="iOS_Club_LOGO.png" alt="" style="height: 42px;padding: 7px 14px;"/>
    </li>
    <li>
        <a>iOS Club</a>
    </li>
    @foreach (var link in Model.Links)
    {
        <li>
            <a>@link</a>
        </li>
    }
</ul>


<div>
    <div id="draggable" class="data">
        <header class="header" Id="header">
            <header>
                <i class="light" style="background-color: #fd6458;"></i>
                <i class="light" style="background-color: #ffbf2b; margin-left: 8px;"></i>
                <i class="light" style="background-color: #24cc3d; margin-left: 8px;"></i>
            </header>
            <h4>@Model.Title</h4>
            <div style="width: 46px"></div>
        </header>
        <main class="context">
            @switch (Model.ContentType)
            {
                case "text":
                    <ErrorView/>
                    break;
                case "test":
                    <ErrorView/>
                    break;
                default:
                    <p>@Model.ContentType</p>
                    break;
            }
        </main>
    </div>
</div>


<div class="dock">
    <div class="dock-container">
        @foreach (var model in Models)
        {
            <div class="dock-item" title="@model.Title" @onclick="() => OnClick(model)">
                <img alt="" src="@model.Image"/>
            </div>
        }
    </div>
</div>

@code
{
    private bool IsDisplay { get; set; } = true;

    private void OnClick(DesktopModel model)
    {
        Model = model;
        IsDisplay = !IsDisplay;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeDrag");
        }
    }
}

@code{

    class DesktopModel
    {
        public string Title { get; init; } = "";
        public string ContentType { get; init; } = "";
        public string Image { get; init; } = "";
        public string[] Links { get; init; } = [];
    }

    private DesktopModel Model { get; set; } = new();

    private DesktopModel[] Models { get; } =
    [
        new DesktopModel { Title = "测试软件1", ContentType = "这是个测试", Image = "Centre/男生.png" },
        new DesktopModel { Title = "测试软件2", ContentType = "text", Image = "Centre/女生.png" }
    ];

}

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to bottom right, #ff6b6b, #7171ae, #10bce7);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }

    .data {
        display: @(string.IsNullOrEmpty(Model.Title) && IsDisplay ? "none" : "block");
        min-height: 200px;
        min-width: 250px;
        height: 450px;
        width: 750px;
        border-radius: 10px;
        background-color: #fff;
        resize: both;
        position: absolute;
        left: 240px;
        top: 140px;
        overflow: hidden;
    }
</style>